<!doctype html>
<html lang="en">

<head>
    <title>intro</title>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="script.js" defer></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <h1>intro</h1>
    <div id="app" v-cloak>
        <div>
            <label>Your name? <input type="text" v-model='playerName'></label>
            <p v-if='playerName'>Player: {{ playerName }}</p>
        </div>
        <div>
            <label>Your guess? <input type="text" v-model='guess'></label>
            <button v-on:click='guesses.push(guess)'>guess</button>
            <ul>
                <li v-for='thisGuess in guesses'>{{thisGuess}}</li>
            </ul>
            <p>{{guesses}}</p>
        </div>
    </div>
</body>

</html>