<!doctype html>
<html lang="en">

<head>
    <title>intro</title>
    <meta charset="utf-8">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js" defer></script>
    <script src="script.js" defer></script>
    <style>
        [v-cloak] {
            display: none;
        }
    </style>
</head>

<body>
    <h1>intro</h1>
    <div id="app" v-cloak>
        <div>
            <label>Your name? <input type="text" v-model='playerName'></label>
            <p v-if='playerName'>Player: {{ playerName }}</p>
            <p v-else>Enter your name to play the game</p>
        </div>
        <div v-show="playerName">
            <label>Your guess? <input type="text" v-model='guess'></label>
            <button v-on:click='guesses.push(guess)'>guess</button>
            <ul>
                <li v-for='(thisGuess, index) in guesses'>{{thisGuess}}'s order is {{index}}</li>
            </ul>

        </div>

        <ul>
            <li v-for='value in guessesDetailed'>{{value.guess}} is {{value.result}}</li>
        </ul>
    </div>
</body>

</html>